@import url("https://fonts.cdnfonts.com/css/poppins");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", Poppinsnp, -apple-system, BlinkMacSystemFont,
    system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}

/* //////////////// */
/* Background Color */
/* //////////////// */
.bg-pink {
  background-color: #fee6ff;
}

/* /// */
/* nav */
/* /// */
.box-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 25px 22px;
}

/* main이동 */
.box-nav .btn-nav-main {
  background: none;
  color: #2d712a;
  font-size: 30pt;
  font-weight: 600;
  letter-spacing: -2px;
}

/* menu */
.box-nav #btnMenu {
  display: none;
}

.box-nav .btn-menu-toggle {
  position: relative;
  width: 30px;
  height: 28px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 8.5px;
  transition-duration: 0.3s;
}

.box-nav .btn-menu-toggle .btn-menu-bars {
  width: 100%;
  height: 2px;
  background-color: #2d712a;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.box-nav .btn-menu-toggle .btn-menu-bars#bar2 {
  width: 75%;
  height: 2px;
  background-color: #2d712a;
  border-radius: 5px;
  transition-duration: 0.3s;
}

#btnMenu:checked + .btn-menu-toggle .btn-menu-bars {
  margin-left: 13px;
}

#btnMenu:checked + .btn-menu-toggle #bar2 {
  transform: rotate(135deg);
  margin-left: 0;
  transform-origin: center;
  transition-duration: 0.1s;
  opacity: 0;
}

#btnMenu:checked + .btn-menu-toggle #bar1 {
  transform: rotate(45deg);
  transition-duration: 0.3s;
  transform-origin: left center;
}

#btnMenu:checked + .btn-menu-toggle #bar3 {
  transform: rotate(-45deg);
  transition-duration: 0.3s;
  transform-origin: left center;
}

.box-menu {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 30px;
}

.box-menu .btn-nav {
  height: 50px;
  margin: 10px;
  background: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.box-menu .btn-nav:hover {
  text-decoration: underline;
}

/* //////////// */
/* Landing Page */
/* //////////// */
.box-landing {
  display: flex;
  flex-direction: column;
  background-color: #fee6ff;
}

.box-landing .box-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 150px 25px 0;
  background-color: #fee6ff;
  color: #2d712a;
  font-size: 22pt;
  font-weight: 300;
  letter-spacing: -0.5pt;
  line-height: 30pt;
}

.box-landing .box-main .txt-main {
  font-weight: 700;
}

.box-landing .box-main .txt-main-sub {
  width: 90%;
  margin-top: 40px;
  font-size: 14pt;
  line-height: 22pt;
}

.box-landing .box-main > img {
  width: 90%;
  margin-top: 25px;
}

.box-landing > button.btn-signin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 86px;
  margin: 50px auto 200px;
  padding: 20px;
  background-color: #ffffff;
  color: #2d712a;
  font-size: 16pt;
  box-shadow: 0px 4px 4px #0002;
}

.box-landing > button.btn-signin > img {
  width: 50px;
}

.box-landing .box-about {
  display: flex;
  flex-direction: column;
  padding: 60px 25px;
  background-color: #2d712a;
  color: #ffffff;
  font-size: 14pt;
  font-weight: 300;
}

.box-landing .box-about .txt-about-title {
  margin-top: 40px;
  font-weight: 700;
}

.box-landing .box-about .txt-about-list {
  margin: 40px 0;
  padding: 10px;
}

.box-landing .box-works {
  display: flex;
  flex-direction: column;
  padding: 60px 25px;
  background-color: #f9e5c7;
  color: #2d712a;
  font-size: 14pt;
  font-weight: 300;
}

.box-landing .box-works > img {
  width: 20%;
}

.box-landing .box-works .txt-works-title {
  margin-top: 40px;
  font-weight: 700;
}

.box-landing .box-works .txt-works-subtitle {
  margin-top: 40px;
  font-size: 13pt;
  font-weight: 700;
}

.box-landing .box-works .txt-works-sub {
  font-size: 13pt;
}

.box-landing .box-works .txt-works-list {
  padding: 10px;
  margin-bottom: 20px;
}

.box-landing .box-works .txt-works-list > li {
  font-size: 13pt;
}

.box-landing .box-works .img-breadcrumb {
  margin-top: 60px;
}

/* /////////// */
/* Set Profile */
/* /////////// */
.box-set-profile {
  display: flex;
  flex-direction: column;
  padding: 30px 22px;
}

.box-set-profile .btn-nft-mint {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 75px;
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}

.box-set-profile .box-nft-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  overflow: hidden;
}

.box-set-profile .box-nft-profile > img {
  width: 150px;
  height: 150px;
}

.box-set-profile .label-nickname {
  margin-top: 40px;
  font-size: 16px;
}

.box-set-profile .input-nickname {
  width: 100%;
  height: 54px;
  margin-top: 20px;
  padding: 18px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  font-size: 16px;
}

.box-set-profile .btn-profile-save {
  width: 100%;
  height: 54px;
  margin-top: 40px;
  background-color: #888888;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
}

.box-set-profile .btn-profile-save:disabled {
  background-color: #dddddd;
}
